.button {
  width: 300px;
  height: 70px;
  font-size: 24px;
  border: 1px solid #8B9467;
  background: none;
  color: #8B9467;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:active {
    transform: translateY(1px);
  }

  @media (max-width: 768px) {
    width: 250px;
    height: 60px;
    font-size: 20px;
  }

  @media (max-width: 600px) {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }

  @media (max-width: 500px) {
    width: 200px;
    height: 45px;
    font-size: 16px;
  }

  @media (max-width: 420px) {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }

  @media (max-width: 390px) {
    width: 190px;
    height: 37px;
    font-size: 13px;
  }

  @media (max-width: 360px) {
    width: 150px;
    height: 32px;
    font-size: 12px;
  }
}