.product-card{
  padding: 25px;
  border: 1px solid #8B9467;
  border-radius: 10px;
  width: 400px;
  height: 768px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(139, 148, 103, 0.27);
    border: none;
  }

  .product-image{
    width: 350px;
    height: 470px;
    transition: all 0.3s ease;
  }

  &:hover .product-image {
    filter: brightness(0.8);
  }

  .btn-group{
    display: flex;
    gap: 20px;
    margin-top: 25px;

    .product-btn{
      border: 1px solid #8B9467;
      border-radius: 10px;
      background: none;
      width: 300px;
      height: 80px;
      font-size: 24px;
      color: #8B9467;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        border-width: 2px;
      }
    }
  }

  .nazvanie{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
  }

  .product-price{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

  svg {
    path {
      transition: fill 0.3s ease;
    }

    &:hover path {
      fill: #8e2222;
    }
  }
}