.product-card {
  padding: 2vh;
  border: 1px solid #8B9467;
  width: 350px;
  height: 690px;
  transition: all 0.3s ease;


  img {
    width: 345px;
    height: 400px;
  }

  &:hover {
    background-color: rgba(139, 148, 103, 0.27);
  }

  .product-image {
    width: 350px;
    transition: all 0.3s ease;
  }

  &:hover .product-image {
    filter: brightness(0.8);
  }

  .btn-group {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;

    .product-btn {
      border: 1px solid #8B9467;
      background: none;
      width: 300px;
      height: 60px;
      font-size: 24px;
      color: #8B9467;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        border-width: 2px;
      }
    }
  }

  .nazvanie {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
  }

  .product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #8B9467;
  }

  svg {
    path {
      transition: fill 0.3s ease;
      cursor: pointer;
    }

    &:hover path {
      fill: #8e2222;
    }
  }

  @media (max-width: 860px) {
    width: 360px;
    height: 640px;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: center;

    img {
      width: 360px;
      height: 430px;
    }

    .product-image {
      width: 100%;
    }

    .nazvanie {
      font-size: 32px;
      margin: 8px 0;
    }

    .product-price {
      font-size: 32px;
      margin: 5px 0;
    }

    .btn-group {
      gap: 8px;
      margin-top: 12px;

      .product-btn {
        width: 290px;
        height: 60px;
        font-size: 22px;
      }

      svg {
        width: 47px;
        height: 47px;
      }
    }
  }

  @media (max-width: 620px) {
    width: 48%;
    height: 410px;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: center;

    img {
      width: 100%;
      height: 260px;
    }

    .product-image {
      width: 100%;
    }

    .nazvanie {
      font-size: 16px;
      margin: 8px 0;
    }

    .product-price {
      font-size: 20px;
      margin: 5px 0;
    }

    .btn-group {
      gap: 8px;
      margin-top: 12px;

      .product-btn {
        width: 120px;
        height: 35px;
        font-size: 14px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media (max-width: 450px) {
    width: 150px;
    height: 300px;
    padding: 8px;
    margin-bottom: 12px;


    img {
      height: 190px;
    }

    .nazvanie {
      font-size: 12px;
      margin: 6px 0;
    }

    .product-price {
      font-size: 18px;
      margin: 4px 0;
    }

    .btn-group {
      gap: 6px;
      margin-top: 10px;

      .product-btn {
        width: 110px;
        height: 32px;
        font-size: 12px;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}