.cartochka{
  width: auto;
  height: 280px;
  border-radius: 10px;
  border: 1px solid #8B9467;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
  padding: 40px;
  margin-bottom: 40px;
  .textPreim{
    font-size: 32px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
  }

  &:hover {
    background-color: rgba(139, 148, 103, 0.27);
    border: none;
  }
}