.cartochka {
  padding: 5vh;
  border: 1px solid #8B9467;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  width: 350px;

  .textPreim {
    font-size: 28px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
  }

  &:hover {
    background-color: rgba(139, 148, 103, 0.27);
  }

  @media (max-width: 390px) {
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;

    .textPreim {
      font-size: 16px;
      margin-top: 20px;
    }
  }
  @media (max-width: 320px) {
    width: 290px;
    padding: 15px;
    margin-bottom: 20px;
    svg{
      width: 30px;
      height: 30px;
    }
    .textPreim {
      font-size: 12px;
      margin-top: 20px;
    }
  }
}