.footer {
  background: #8B9467;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 60px 20px 20px;
  margin-top: 150px;
  margin-left: -162px;
  margin-right: -162px;

  .footer-content {
    display: flex;
    justify-content: center;
    gap: 800px;
    max-width: 1596px;
    margin: 0 auto;

    .footer-col {
      ul {
        list-style: none;
      }

      li {
        font-size: 24px;
        margin-bottom: 20px;
        .seti{
          display: flex;
          gap: 15px;
          align-items: center;
        }
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid rgba(255,255,255,0.3);

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      gap: 50px;
      text-align: center;
    }
  }
}