.header{
  display: flex;
  gap: 410px;
  padding-top: 27px;
  padding-left: 20px;
  height: 60px;
  width: auto;

  .logo{
    font-size: 20px;
    a{
      text-decoration: none;
      display: flex;
      gap: 10px;
      color: black;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 50px;
    font-size: 18px;
    margin-top: 5px;
    li {
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: gray;
          text-decoration: none;
        }
      }
    }
  }
  .cart_navig{
    display: flex;
    gap: 50px;
    margin-top: 5px;
  }
}
.pramoug_block1{
  background-color: var(--main-color-oran-svetl);
}