.str{
  border: #8B9467 solid 2px;
  border-radius: 50px;
  background: none;
  font-size: 24px;
  height: 60px;
  width: 60px;
  color: #8B9467;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-top: 40px;

  &:hover {
    background: #8B9467;
    color: white;
  }

  @media (max-width: 390px) {
    width: 40px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
  }
}