.name{
  display: flex;
  gap: 10px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}
.reyt{
  display: flex;
  gap: 10px;
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}