.otz {
  font-size: 24px;
}

@media (max-width: 1145px) {
  .otz {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .otz {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .otz {
    font-size: 16px;
  }
}

@media (max-width: 391px) {
  .otz {
    font-size: 14px;
  }
}