.perehod {
  background: #8B9467;
  color: #F9F4E2;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  a {
    text-decoration: none;
    color: #F9F4E2;
  }

  .sl_one {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
  }

  .sl_two {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  @media (max-width: 700px) {
    padding: 15px 0;
    gap: 5px;

    .sl_one, .sl_two {
      font-size: 22px;
    }
  }

  @media (max-width: 500px) {
    padding: 15px 0;
    gap: 5px;

    .sl_one, .sl_two {
      font-size: 20px;
    }
  }

  @media (max-width: 390px) {
    padding: 15px 0;
    gap: 5px;

    .sl_one, .sl_two {
      font-size: 16px;
    }
  }
}